span.patternicon {
    float: left; 
    display: inline-block;
    width: 90px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 3px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
}

.patternicon img {
    margin: 0px 0px 3px 0px;
}

div.afterpatternicon{
   clear: left;
}

div.bookhomepage {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.bookhomepage p {
    margin: 0px 0px 0px 0px;
}

.bookhomepage img {
    margin: 6px 10px 0px 0px;
}

div.patternintent {
    background-color: #DEDEDE; 
    padding: 15px 15px 15px 15px; 
    margin: 10px 0px 10px 0px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

div.patterstart {
    display:table;
}

div.patternstart_icon{
    display:table-cell;
    vertical-align:middle; 
    padding: 10px 15px 0px 0px;
    width: 15%;
    max-width: 115px;
    min-width: 85px;
}

.patternstart_icon p {
    margin: 0px 0px 0px 0px;
}

div.patternstart_question {
    display:table-cell;
    vertical-align:middle;
}

.patternstart_question p {
    margin: 0px 0px 0px 0px;
}
