span.patternicon {
    float: left; 
    display: inline-block;
    width: 90px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 3px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
}

.patternicon img {
    margin: 0px 0px 3px 0px;
}

div.afterpatternicon{
   clear: left;
}

div.bookhomepage {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.bookhomepage p {
    margin: 0px 0px 0px 0px;
}

.bookhomepage img {
    margin: 6px 10px 0px 0px;
}

p.patternintent {
    background-color: #DEDEDE; 
    padding: 10px 10px 10px 10px; 
    margin: 15px 0px 15px 0px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

table.patternstart {
    background-color: #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.patternstart td {
   border: 0;
   padding: 0px 10px 0px 0px;
}

.patternstart img {
    width: 15%;
    max-width: 115px;
    min-width: 85px;
}
