<ul>
  {% assign patterntest = false %}

  {% if page.overview %} 			   {% assign patterntest = true %} {% endif %}

<!-- This test should be changed to check the size of p to be one.-->
  {% assign p = site.docs | where:"url",page.url | first %}
  {% if p.url == page.url %}
    {% assign patterntest = true %}
  {% endif %}

  {% for section in site.data.docs %}
  {% assign section_url = section.title | downcase | replace: ' ','_'  | prepend:"/" | append:"/" %}
      {% if section_url == page.url %}
        {% assign patterntest = true %}
      {% endif %}  
  {% endfor %}


  <li class="{% if patterntest == true %}current{% endif %}">
    <a href="/">Patterns</a>
  </li>
  {% assign booktest = false %}
  {% if page.url contains '/book/' %} {% assign booktest = true %} {% endif %}
  <li class="{% if booktest == true %}current{% endif %}">
    <a href="/book/"><span class="hide-on-mobiles">The </span>Book</a>
  </li>
  {% assign resourcestest = false %}
  {% if page.url contains '/resources/'	%} {% assign resourcestest = true %} {% endif %}
  <li class="{% if resourcestest == true %}current{% endif %}">
    <a href="/resources/">Resources</a>
  </li>
<!-- Removing Library Link for now. Should be used in the future to point to other interesting books and papers.
  {% assign librarytest = false %}
  {% if page.url contains '/library/'	%} {% assign librarytest = true %} {% endif %}
  <li class="{% if librarytest == true %}current{% endif %}">
    <a href="/library/">Lib<span class="show-on-mobiles"></span><span class="hide-on-mobiles">rary</span></a>
  </li>
-->
<!-- Removing Posts and Github Link for now. Should be enabled in the future.
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">News</a>
  </li>
  <li>
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
-->
</ul>
